body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    height: 100vh;
}

/* MAIN LAYOUT */

.header {
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 2;
    height: 10vh;
}

.main {
    height: 85vh;
    background-color: rgb(20, 20, 20);
    display: grid;
    grid-template-rows: 100px 1fr;
    overflow: auto;
    position: relative;
    z-index: 1;
}

.footer {
    background-color: rgb(0, 0, 0);
    height: 5vh;
    position: relative;
    z-index: 2;
}

/* HEADER CONTENT */

h1 {
    font-size: 3rem;
}

/* ADD BOOK BUTTON */

.add {
    margin: auto;
}

#add-book-btn {
    font-size: 30px;
    color: white;
    background: none;
    border: 1px solid rgba(100, 100, 100, 0.5);
    border-radius: 9px;
    margin: 20px auto;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transition: 0.5s;
}

#add-book-btn:hover {
    background: #000;
    border: 1px solid rgba(100, 100, 100, 0.5);
    box-shadow: 0px 1px 3px #666666;
}

/* HIDE AND UNHIDE */



.active {
    transform: scale(1);
    opacity: 1;
}

/* MAIN CONTENT */

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#book-info {
    background-color: rgba(20, 20, 20, 1);
    color: white;
    border: 1px solid rgba(100, 100, 100, 0.5);
    border-radius: 9px;
    padding: 40px 60px;
}

#book-info.hidden {
    opacity: 0;
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

label {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    /* color: #555; */
    color: #ffffff;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.label {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    /* color: #555; */
    color: #ffffff;
    letter-spacing: 3px;
    margin-bottom: 5px;
    text-align: center;
}

.normal-input {
    width: 250px;
    font-size: 16px;
    margin-bottom: 30px;
    margin-right: 0;
    padding: 10px;
    transition: 0.25s;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

.normal-input:focus,
.normal-input:focus:valid {
    border: none;
    -webkit-box-shadow: 0px 0px 5px 0px #000000;
    box-shadow: 0px 0px 5px 0px #ffffff;
}

.form-child {
    display: flex;
    flex-direction: column;
}


/* CARD STYLING */

/* .card-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    gap: 40px;
    text-align: center;
} */

.library {
    padding: 20px 60px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(200px, 15%, 400px));
    grid-template-rows: max-content;
    justify-content: center;
    gap: 20px;
}

.card {
    box-shadow: 0px 1px 8px #FFF;
    background-color: rgb(22, 22, 22);
    padding: 10px 10px 30px;
    margin: 0;
    display: grid;
    grid-template-rows: 100px 30px 30px 30px;
    grid-template-columns: 1fr;
    gap: 20px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.card p {
    margin: 20px auto;
    font-size: 20px;
}

#author, #pages {
    font-size: 16px;
}

#read {
    border: 1px solid black;
    font-size: 20px;
    border-radius: 12px;
    transition: 0.2s;
    padding: 10px 0;
    width: 100px;
    margin: auto;
    color: white;
    background-color: rgb(22, 22, 22);
    transition: all 0.3s ease;
}

#read.read {
    border-color: rgb(9, 255, 0);
}

#read.read:hover {
    cursor: pointer;
    background-color: rgb(5, 165, 0);
    transform: scale(1.05);
}

#read.not-read {
    border-color: red;
}

#read.not-read:hover {
    cursor: pointer;
    background-color: rgb(194, 0, 0);
    transform: scale(1.05);
}

.delete {
    border: 1px solid rgb(189, 189, 189);
    border-radius: 12px;
    width: 100px;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(22, 22, 22);
    transition: all 0.3s ease;
}

.delete:hover {
    transform: scale(1.05);
}

.fa-trash-can {
    font-size: 20px;
    color: white;
}

#radio-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#radio-container label {
    margin: 10px;
    text-align: center;
}

.radio-div {
    display: flex;
    flex-direction: row-reverse;
}